:root {
    --md-text-font:  "LXGW WenKai Screen", sans-serif; 
    /* --md-code-font:  */
  }


@font-face {  	
    font-family: 'LXGW';  	
    src: url('./LXGWWenKaiGBScreen.woff') format('woff');/*IE*/  	
}

.md-typeset details {
    font-size: 14px
}

.md-grid {
    max-width: 1280px;   
}

.md-typeset .admonition.inline {
    width: 350px;   
    column-width: auto;
}