:root {
    --md-text-font:  "LXGW WenKai Screen", sans-serif; 
    /* --md-code-font:  */
  }


@font-face {  	
    font-family: 'LXGW';  	
    src: url('./LXGWWenKaiGBScreen.woff') format('woff');/*IE*/  	
}

/* original draft */
/* .md-typeset details {
    font-size: 14px
}

.md-grid {
    max-width: 1280px;   
}

.md-typeset .admonition.inline {
    width: 350px;   
    column-width: auto;
} */

/* website standard */

.md-typeset .admonition,
.md-typeset details {
    font-size: 15px
}

.md-grid {
    max-width: 1280px;   
}

.md-typeset .admonition.inline {
    width: 358px;   
    column-width: auto;
    font-size: 15px;
}

.md-typeset .admonition.indexinline {
    width: 732px;   
    column-width: auto;
    font-size: 15px;
}
/* 
.md-grid {
    max-width: 1280px;   
}

.md-typeset .admonition.indexinline {
    width: 716px;   
    column-width: auto;
    font-size: 15px;
} */